# Python virtual environments
.venv/
venv/
env/
ENV/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
ENV/
env/
venv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Node.js dependencies
**/node_modules/

# npm logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# dotenv environment files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Build output
**/dist/
**/build/
**/out/


# Parcel build output
**/.cache/
**/.parcel-cache/

# Svelte build output
**/.svelte-kit/

# TypeScript cache
**/*.tsbuildinfo

# Mac system files
**/.DS_Store

# Windows system files
**/Thumbs.db

# Coverage reports
**/coverage/

# Foundry
**/cache/
**/out/
**/broadcast/
**/.env